$primary_color : #2beec3;
$secondary_color: #f52551;
$gray : #1b1b1b;
$dark_gray: #131313;

@font-face {
  src: url(fonts/Andrey.ttf);
  font-family: Andrey;
  font-stretch: ultra-expanded;
}

body{
  height: 100%;
  width: 100%;
  z-index: -2;
  background-color: $gray !important;
}

.content{
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 9fr;
}
#particles-js
{
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: $gray !important;
}

.nav-menu{
  background: $dark_gray;
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-family: Andrey;
  color: $primary_color;
  font-size: 50px;
}

.nav-icons{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 40%;
  justify-content: space-between;
}
.social-media{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  height: 15%;
}
.link-text{
  opacity: 0;
  transition: .5s ease;
  color:$primary_color;
}
.icon{
  width: 50%;
}
.icon-link{
  width: 100%;
  text-align: center;
  display: relative;
}
.icon-link:hover .link-text{
  opacity: 0.8;
}
.items{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  .text{
    color:white;
  }
}

.picture{
  width: 65%;
}
.headline
{
  color: $primary_color;
  font-size: 50px;
}
.title
{
  color: $primary_color;
  font-size: 25px;
}
.tk{color: $secondary_color;}
.btn, .btn-outline-info{
  border-color: $primary_color !important;
  color: $primary_color !important;
  width: 100;
}
.btn:hover ,.btn-outline-info:hover{
  background: $primary_color !important;
  color: $secondary_color !important;
}

.fab{
  color: $primary_color !important;
}
.fab:hover{
  color: $secondary_color !important;
}

.round-img{
  border-radius: 50%;
  border: 2px solid $primary_color;
}

@media only screen and (max-width: 600px) {
  .nav-menu{
    position: fixed;
    background: $dark_gray;
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .social-media{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    width: 25%;
  }
  .logo{
    font-family: Andrey;
    color: $primary_color;
    font-size: 50px;
  }

  .nav-icons{
    display: flex;
    align-items: center;

    flex-direction: row;
    width: 40%;
  }
  .icon{
    width: 60%;
    margin-left: 10px;
    margin-right: 10px;
  }

  .items{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
  }

  .picture{
    width: 40%;
  }
  .content{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr;
    justify-content: center;
  }
}
